*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::placeholder{
    color: white;
}
#logo{
    background-color: azure; 
}
#dn{
    display: none;
}
@media(max-width:991px){
#dn{
    display: inline-block;
   margin-left: -100px;
}
#sml{
    display: none;
}
#padd{
    padding:0 ;
}#logo1{
    background-color: azure; 
    margin-left: 20px;
}
#sidenone{
    display: none;
}

}

html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
